.about {
  width: 100%;
  padding-bottom: 45px;
}

.about__wrapper {
  width: 260px;
  margin: 0 auto;
}

.about__header {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 4px;
}

@media (min-width: @tablet) {
  .about {
    width: 100%;
    padding-bottom: 0;
  }

  .about__wrapper {
    width: 668px;
    padding: 0;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 29px;
  }

  .about__header {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
    margin-bottom: 44px;
  }
}

@media (min-width: @desktop) {
  .about {
    width: 100%;
  }

  .about__wrapper {
    width: 700px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
    padding-top: 61px;
  }

  .about__header {
    font-size: 53px;
    line-height: 57px;
  }
}
