.advantages {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 1px;
}

.advantages__item {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  padding-top: 83px;
  position: relative;
}

.advantages__item svg {
  fill: #63d1bb;
  position: absolute;
}

.flower svg {
  top: 28px;
  left: 9px;
}

.money svg {
  top: 29px;
  left: 1px;
}

.heart svg {
  top: 34px;
  left: 8px;
}

.ball svg {
  top: 31px;
  left: 4px;
}

.rocket svg {
  top: 32px;
  left: -5px;
}

.gift svg {
  top: 30px;
  left: 4px;
}


@media (min-width: @tablet) {
  .advantages {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
  }

  .advantages__item {
    font-size: 20px;
    line-height: 22px;
    width: 334px;
    padding-top: 58px;
    padding-bottom: 53px;
  }

  .flower svg {
    top: 4px;
  }

  .money svg {
    top: 5px;
  }

  .heart svg {
    top: 10px;
  }

  .ball svg {
    top: 7px;
    left: 3px;
  }

  .rocket svg {
    top: 8px;
    left: -6px;
  }

  .gift svg {
    top: 6px;
    left: 3px;
  }
}

@media (min-width: @desktop) {
  .advantages {
    height: 600px;
  }

  .advantages__item {
    font-size: 20px;
    line-height: 22px;
    width: 350px;
    padding-top: 57px;
  }
}
