.comments {
  width: 100%;
  position: relative;
  padding-bottom: 75px;
}

.comments::before {
  content: "";
  display: block;
  width: 191%;
  height: 23px;
  background-image: url("../img/bg-zigzag-line.svg");
  position: absolute;
  bottom: -6px;
  right: -19.2%;
  transform: scale(-0.275, -0.275);
  z-index: 5;
}

.comments::after {
  content: "";
  display: block;
  width: 191%;
  height: 23px;
  background-image: url("../img/bg-zigzag-line.svg");
  position: absolute;
  bottom: -6px;
  left: -19.2%;
  transform: scale(0.275, -0.275);
  z-index: 5;
}

.comments__wrapper {
  width: 260px;
  margin: auto;
}

.comments__header {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}

.comments__content {
  color: #444444;
  font-size: 15px;
  line-height: 30px;
}

.comments__author {
  font-size: 17px;
  line-height: 24px;
}

.comments__author-name {
  font-weight: bold;
}

.comments__author-tag {
  line-height: 30px;
  color: #444444;
}

.comments__switcher {
  display: flex;
  position: relative;
}

.comments__switcher-left,
.comments__switcher-right {
  border: none;
  outline: 1px solid #ececec;
  background-color: transparent;
  padding-left: 38px;
  padding-right: 42px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.comments__write {
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 13px 13px;
  text-align: center;
  outline: 2px solid #444444;
}

@media (min-width: @tablet) {
  .comments::before {
    content: "";
    display: block;
    width: 78%;
    height: 23px;
    background-image: url("../img/bg-zigzag-line.svg");
    position: absolute;
    bottom: -4px;
    right: 37%;
    transform: scale(-0.668, -0.668);
    z-index: 5;
  }

  .comments::after {
    content: "";
    display: block;
    width: 78%;
    height: 23px;
    background-image: url("../img/bg-zigzag-line.svg");
    position: absolute;
    bottom: -4px;
    left: 37%;
    transform: scale(0.668, -0.668);
    z-index: 5;
  }

  .comments__wrapper {
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
  }

  .comments__header {
    font-size: 43px;
    line-height: 50px;
  }

  .comments__content {
    width: 668px;
    font-size: 17px;
  }

  .comments__author {
    font-size: 18px;
  }

  .comments__switcher {
    border: none;
    position: absolute;
    right: 45px;

    &::before {
      content: "";
      width: 0;
    }
  }

  .comments__switcher-left,
  .comments__switcher-right {
    padding-left: 17px;
    padding-right: 19px;
    outline: 0;
  }

  .comments__write {
    font-size: 18px;
  }
}

@media (min-width: @desktop) {
  .comments::before {
    content: "";
    display: block;
    width: 59%;
    height: 23px;
    background-image: url("../img/bg-zigzag-line.svg");
    position: absolute;
    bottom: 0;
    right: 47.2%;
    transform: scale(-0.905, -0.905);
    z-index: 5;
  }

  .comments::after {
    content: "";
    display: block;
    width: 59%;
    height: 23px;
    background-image: url("../img/bg-zigzag-line.svg");
    position: absolute;
    bottom: 0;
    left: 47.2%;
    transform: scale(0.905, -0.905);
    z-index: 5;
  }

  .comments__wrapper {
    width: 875px;
    padding-left: 175px;
    padding-right: 0;
  }
}
