.header {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
}

.header__logo {
  width: 160px;
  padding-left: 79px;
  padding-top: 22px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
}

.logo-tablet,
.logo-desktop {
  display: none;
}

.header__button {
  width: 81px;
  border: none;
  background-color: inherit;
  background-image: url("../img/icon-menu-close.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.header__delivery {
  display: none;
}

@media (min-width: @tablet) {
  .header {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
  }

  .header__logo {
    order: 1;
    padding-left: 0;
    width: 321px;
    justify-content: flex-start;
    padding-bottom: 17px;

    &[href]:hover img {
      opacity: 0.6;
    }

    &[href]:focus img {
      opacity: 0.3;
    }

    img {
      width: 116px;
      height: 46px;
    }
  }

  .logo-mobile {
    display: none;
  }

  .logo-tablet {
    display: block;
  }

  .header__button {
    display: none;
  }

  .header__delivery {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    order: 4;
    width: 348px;
    padding-top: 20px;
    font-size: 15px;
  }
}

@media (min-width: @desktop) {
  .header {
    width: 1050px;
    justify-content: space-between;
  }

  .header__logo {
    order: 2;
    width: auto;
    padding: 0;
    margin-top: 7px;
    margin-right: 29px;

    img {
      width: 149px;
      height: 72px;
    }
  }

  .logo-tablet {
    display: none;
  }

  .logo-desktop {
    display: block;
  }

  .header__delivery {
    order: 5;
    width: 700;
    padding-top: 19px;
  }
}
