.item {
  display: flex;
  flex-direction: column;
  margin-top: 29px;
  margin-bottom: 2px;
  outline: 1px solid #ececec;
}

.item__image {
  height: 195px;
}

.item__header {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  margin-top: 28px;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}

.item__description {
  font-size: 13px;
  line-height: 30px;
  margin-top: 4px;
  margin-bottom: 19px;
}

.item__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  padding-top: 21px;
  padding-bottom: 27px;
  margin: 0;
  border-top: 1px solid #ececec;
  position: relative;
}

.item__cart {
  position: absolute;
  right: 0;

  &:hover > svg {
    fill-opacity: 1;
    fill: @style-color;
  }

  &:focus > svg {
    fill-opacity: 0.3;
  }
}

.item__cart > svg {
  fill-opacity: 0.2;
}

.item__wrapper {
  display: flex;
  flex-direction: column;
  width: 204px;
  padding: 0 28px;
}

@media (min-width: @tablet) {
  .item {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 32px;
    margin-top: 22px;
  }

  .item__image {
    width: 334px;
    height: 334px;
  }

  .item__image img {
    width: 334px;
    height: auto;
  }

  .item__wrapper {
    width: 306px;
    padding-left: 26px;
    padding-right: 0;
    height: 326px;
  }

  .item__header {
    font-size: 20px;
    margin-top: 27px;
  }

  .item__description {
    font-size: 15px;
  }

  .item__price {
    margin-top: auto;
    font-size: 17px;
    width: 270px;
    padding-top: 21px;
    padding-bottom: 19px;
    margin-left: 6px;
  }
}

@media (min-width: @desktop) {
  .item {
    flex-direction: column;
    width: 316px;

    &:hover .item__wrapper {
      box-shadow: 0 9px 6px 3px rgba(0, 0, 0, 0.1);
    }
  }

  .item__image {
    width: 316px;
    height: 462px;

    &:focus + .item__wrapper {
      box-shadow: 0 9px 6px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .item__wrapper {
    height: 195px;
    width: 257px;
    padding-right: 33px;
  }

  .item__header {
    font-size: 20px;
    line-height: 24px;
    margin-top: 25px;
  }

  .item__description {
    margin: 0;
    margin-top: 5px;
  }

  .item__price {
    margin-left: 0;
    width: 257px;
    padding-top: 23px;
    padding-bottom: 25px;
  }

  .item__image img {
    width: 316px;
    height: auto;
  }
}
