.navigation-site {
  width: 320px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.navigation-site__item {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: auto;
  padding-top: 28px;
  padding-bottom: 26px;
  padding-left: 75px;
  border-top: 1px solid #ececec;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:focus {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: @tablet) {
  .navigation-site {
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    order: 3;
    width: 320px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-left: 0;
  }

  .navigation-site li {
    display: flex;
  }

  .navigation-site__item {
    width: 167px;
    padding-left: 0;
    padding-top: 18px;
    font-size: 15px;
    border: none;
  }
}

@media (min-width: @desktop) {
  .navigation-site {
    order: 1;
    width: 375px;
    margin-left: 0;
    justify-content: flex-start;
  }

  .navigation-site__item {
    font-size: 17px;
    width: auto;
    padding-top: 30px;
    padding-bottom: 34px;
  }

  .navigation-site li:first-child {
    padding-right: 35px;
    border-right: 1px solid #ececec;
  }

  .navigation-site li:last-child {
    padding-right: 0px;
    padding-left: 34px;
  }
}
