.navigation-user {
  width: 320px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.navigation-user__item {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding-top: 28px;
  padding-bottom: 26px;
  padding-left: 75px;
  border-top: 1px solid #ececec;

  &:hover {
    color: #8d8d8d;
  }

  &:focus {
    color: #cacaca;
  }

  &:hover svg {
    fill: @style-color;
    opacity: 1;
  }

  &:focus svg {
    opacity: 0.3;
    fill: @style-color;
  }
}

.cart:hover svg {
  fill: @style-color;
  opacity: 1;
}

.cart:focus svg {
  fill: @style-color;
  opacity: 0.3;
}

.search,
.cart {
  width: auto;
  position: relative;
}

.search svg {
  position: absolute;
  left: 32px;
  top: 32px;
  opacity: 0.2;
}

.cart svg {
  position: absolute;
  left: 31px;
  top: 32px;
  opacity: 0.2;
}

@media (min-width: @tablet) {
  .navigation-user {
    display: flex;
    order: 2;
    width: 347px;
  }

  .navigation-user__item {
    padding-top: 31px;
    padding-left: 83px;
    padding-bottom: 33px;
    font-weight: bold;
  }

  .search {
    width: 18px;
    height: 24px;
    padding-right: 32px;
    padding-left: 32px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }

  .search svg {
    left: 34px;
    top: 36px;
  }

  .navigation-user__text-wrapper {
    display: none;
  }

  .cart {
    width: 182px;
  }

  .cart svg {
    left: 33px;
    top: 34px;
  }
}

@media (min-width: @desktop) {
  .navigation-user {
    order: 3;
    width: 350px;
    margin: 0;
  }

  .search {
    padding-top: 30px;
    padding-bottom: 34px;
  }

  .search svg {
    left: 31px;
    top: 36px;
  }

  .cart {
    width: 182px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .cart svg {
    left: 30px;
    top: 34px;
  }
}
