.products {
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;

  .products__things {
    background-color: @style-color;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .products__toys {
    background-color: @style-color-dark;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
