.product-card {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.product-card__header {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
}

.product-card__mark {
  font-size: 17px;
  line-height: 20px;
  color: @style-color;
  text-transform: uppercase;
  margin: 0;
}

.product-card__description {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.product-card__table {
  font-size: 15px;
  line-height: 20px;
}

.product-card__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}

.product-card__order {
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 85px;
}

@media (min-width: @tablet) {
  .product-card {
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }

  .product-card__header {
    width: 440px;
  }

  .product-card__mark {
    text-align: center;
    width: 110px;
  }

  .product-card__description {
    width: 334px;
    padding-right: 334px;
  }

  .product-card__table {
    width: 291px;
    padding-right: 377px;
  }

  .product-card__image {
    position: absolute;
    left: 334px;
    top: 50px;
    width: 333px;
    height: auto;
  }

  .product-card__price {
    font-size: 20px;
    line-height: 24px;
    display: flex;
    width: auto;
    text-align: left;
    padding-left: 72px;
    padding-right: 350px;
  }

  .product-card__order {
    font-weight: bold;
  }
}

@media (min-width: @desktop) {
  .product-card {
    padding-left: 175px;
    width: 700px;
  }

  .product-card__header {
    width: 540px;
    order: -1;
    font-size: 53px;
    line-height: 57px;
  }

  .product-card__mark {
    order: -2;
    margin-left: -150px;
    margin-right: 38px;
  }

  .product-card__image {
    position: absolute;
    left: 525px;
    top: 0;
    width: 525px;
  }
}
