.product-card {
  padding-top: 33px;
  padding-bottom: 36px;
}

.product-card__header {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.product-card__mark {
  font-size: 17px;
  line-height: 20px;
  color: @style-color;
}

.product-card__description {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.product-card__table {
  font-size: 15px;
  line-height: 20px;
}

.product-card__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.product-card__order {
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
}
