@style-color: #63d1bb;
@style-color-dark: #56c3b2;
@black: #000000;
@white: #ffffff;
@grey: #f1f1f1;

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensans.woff") format ("woff");
  src: url("../../fonts/opensans.woff2") format ("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensansbold.woff") format ("woff");
  src: url("../../fonts/opensansbold.woff2") format ("woff2");
  font-weight: bold;
  font-style: normal;
}

@import "blocks/header.less";
@import "blocks/main-index.less";
@import "blocks/navigation.less";
@import "blocks/products.less";
@import "blocks/product-card.less";
@import "blocks/about.less";
@import "blocks/advantages.less";
@import "blocks/footer.less";
@import "blocks/main-catalog.less";
@import "blocks/catalog.less";
@import "blocks/item.less";
@import "blocks/price.less";

body {
  background: @white;
  font-family: "Open Sans", sans-serif;

  & a {
    text-decoration: none;
    color: @black;
  }
}
