@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensans.woff") format("woff"), url("../../fonts/opensans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensansbold.woff") format("woff"), url("../../fonts/opensansbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
body {
  background: #ffffff;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
body a {
  text-decoration: none;
  color: #000000;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
}
.header__logo {
  width: 160px;
  padding-left: 79px;
  padding-top: 22px;
  padding-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.logo-tablet,
.logo-desktop {
  display: none;
}
.header__button {
  width: 81px;
  border: none;
  background-color: inherit;
  background-image: url("../img/icon-menu-close.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.header__delivery {
  display: none;
}
@media (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 668px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
  }
  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-left: 0;
    width: 321px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 17px;
  }
  .header__logo[href]:hover > img {
    opacity: 0.6;
  }
  .header__logo[href]:focus > img {
    opacity: 0.3;
  }
  .logo-mobile {
    display: none;
  }
  .logo-tablet {
    display: block;
  }
  .header__button {
    display: none;
  }
  .header__delivery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 348px;
    padding-top: 20px;
    font-size: 15px;
  }
}
@media (min-width: 1150px) {
  .header {
    width: 1050px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: auto;
    padding: 0;
    margin-top: 7px;
    margin-right: 29px;
  }
  .logo-tablet {
    display: none;
  }
  .logo-desktop {
    display: block;
  }
  .header__delivery {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    width: 700;
    padding-top: 19px;
  }
}
.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  min-height: 79px;
  margin: 0 auto;
}
.header-top__logo {
  width: 209px;
}
.header-top__button {
  width: 81px;
}
.main-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0 auto;
}
.main-index__wrapper-head {
  margin: 0 auto;
}
.main-index__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/hero-mobile@1x.jpg");
  text-align: center;
  background-repeat: no-repeat;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  padding-top: 71px;
  padding-bottom: 122px;
  padding-left: 30px;
  padding-right: 30px;
  width: 260px;
  margin: 0;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .main-index__header {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .main-index {
    width: 100%;
    margin-top: -70px;
    border-top: 1px solid #e7e7e7;
  }
  .main-index__wrapper-head {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 13px;
    background-color: #f9f9f9;
  }
  .main-index__header {
    width: 668px;
    font-size: 43px;
    line-height: 50px;
    background-image: url("../img/hero-tablet@1x.jpg");
    padding-left: 0;
    padding-right: 0;
    padding-top: 85px;
    padding-bottom: 374px;
    margin-top: 68px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-index__wrapper-head::before {
    content: "";
    display: block;
    width: 78%;
    height: 34px;
    background-image: url("../img/bg-zigzag-fill.svg");
    position: absolute;
    bottom: -6px;
    right: 37%;
    -webkit-transform: scale(-0.668, 0.668);
            transform: scale(-0.668, 0.668);
    z-index: 5;
  }
  .main-index__wrapper-head::after {
    content: "";
    display: block;
    width: 78%;
    height: 34px;
    background-image: url("../img/bg-zigzag-fill.svg");
    position: absolute;
    bottom: -6px;
    left: 37%;
    -webkit-transform: scale(0.668, 0.668);
            transform: scale(0.668, 0.668);
    z-index: 5;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .main-index__header {
    background-image: url("../img/hero-tablet@2x.jpg");
  }
}
@media (min-width: 1150px) {
  .main-index__wrapper-head {
    padding-bottom: 0;
    margin-bottom: 52px;
  }
  .main-index__wrapper-head::before {
    content: "";
    display: block;
    width: 50%;
    height: 34px;
    background-image: url("../img/bg-zigzag-fill.svg");
    position: absolute;
    bottom: 0;
    right: 52%;
    -webkit-transform: scale(-1.085, 1.085);
            transform: scale(-1.085, 1.085);
    z-index: 5;
  }
  .main-index__wrapper-head::after {
    content: "";
    display: block;
    width: 50%;
    height: 34px;
    background-image: url("../img/bg-zigzag-fill.svg");
    position: absolute;
    bottom: 0;
    left: 52%;
    -webkit-transform: scale(1.085, 1.085);
            transform: scale(1.085, 1.085);
    z-index: 5;
  }
  .main-index__header {
    width: 1050px;
    margin: 0 auto;
    margin-top: 71px;
    font-size: 53px;
    line-height: 57px;
    padding-bottom: 356px;
    background-image: url("../img/hero-desktop@1x.jpg");
    padding-top: 83px;
  }
}
@media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-resolution: 1.5dppx) {
  .main-index__header {
    background-image: url("../img/hero-desktop@2x.jpg");
  }
}
.navigation-site {
  width: 320px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.navigation-site__item {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  padding-top: 28px;
  padding-bottom: 26px;
  padding-left: 75px;
  border-top: 1px solid #ececec;
}
.navigation-site__item:hover {
  color: rgba(0, 0, 0, 0.6);
}
.navigation-site__item:focus {
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .navigation-site {
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    margin-left: 0;
  }
  .navigation-site li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation-site__item {
    width: 167px;
    padding-left: 0;
    padding-top: 18px;
    font-size: 15px;
    border: none;
  }
}
@media (min-width: 1150px) {
  .navigation-site {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 375px;
    margin-left: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navigation-site__item {
    font-size: 17px;
    width: auto;
    padding-top: 30px;
    padding-bottom: 34px;
  }
  .navigation-site li:first-child {
    padding-right: 35px;
    border-right: 1px solid #ececec;
  }
  .navigation-site li:last-child {
    padding-right: 0;
    padding-left: 34px;
  }
}
.navigation-user {
  width: 320px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.navigation-user__item {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 28px;
  padding-bottom: 26px;
  padding-left: 75px;
  border-top: 1px solid #ececec;
}
.navigation-user__item:hover {
  color: #8d8d8d;
}
.navigation-user__item:focus {
  color: #cacaca;
}
.navigation-user__item:hover svg {
  fill: #63d1bb;
  opacity: 1;
}
.navigation-user__item:focus svg {
  opacity: 0.3;
  fill: #63d1bb;
}
.cart:hover svg {
  fill: #63d1bb;
  opacity: 1;
}
.cart:focus svg {
  fill: #63d1bb;
  opacity: 0.3;
}
.search,
.cart {
  width: auto;
  position: relative;
}
.search svg {
  position: absolute;
  left: 32px;
  top: 32px;
  opacity: 0.2;
}
.cart svg {
  position: absolute;
  left: 31px;
  top: 32px;
  opacity: 0.2;
}
@media (min-width: 768px) {
  .navigation-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 347px;
  }
  .navigation-user__item {
    padding-top: 31px;
    padding-left: 83px;
    padding-bottom: 33px;
    font-weight: bold;
  }
  .search {
    width: 18px;
    height: 24px;
    padding-right: 32px;
    padding-left: 32px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }
  .search svg {
    left: 34px;
    top: 36px;
  }
  .navigation-user__text-wrapper {
    display: none;
  }
  .cart {
    width: 182px;
  }
  .cart svg {
    left: 33px;
    top: 34px;
  }
}
@media (min-width: 1150px) {
  .navigation-user {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 350px;
    margin: 0;
  }
  .search {
    padding-top: 30px;
    padding-bottom: 34px;
  }
  .search svg {
    left: 31px;
    top: 36px;
  }
  .cart {
    width: 182px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .cart svg {
    left: 30px;
    top: 34px;
  }
}
.navigation-special {
  display: none;
  width: 320px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.navigation-special__item {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 75px;
}
.navigation-special__item:hover {
  opacity: 0.6;
}
.navigation-special__item:focus {
  opacity: 0.3;
}
@media (min-width: 1150px) {
  .navigation-special {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 316px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigation-special__item {
    padding-left: 0;
    font-size: 15px;
    padding-top: 17px;
  }
}
.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
}
.products-general {
  padding-top: 26px;
  padding-left: 28px;
  padding-bottom: 29px;
  padding-right: 120px;
  width: 172px;
  color: #ffffff;
}
.products-general:hover {
  padding-bottom: 34px;
}
.products-general:focus {
  color: #97e2d2;
}
.products__things {
  background-color: #63d1bb;
  position: relative;
}
.products__things::before {
  content: "";
  position: absolute;
  width: 41px;
  height: 62px;
  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
  top: 23px;
  right: 35px;
}
.products__things:hover .products__things::before {
  opacity: 0.7;
}
.products__things:focus .products__things::before {
  opacity: 0.3;
}
.products__toys {
  background-color: #56c3b2;
  position: relative;
}
.products__toys::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 61px;
  background-image: url("../img/icon-toy.svg");
  background-repeat: no-repeat;
  top: 22px;
  right: 27px;
}
.products__toys:hover .products__toys::before {
  opacity: 0.7;
}
.products__toys:focus .products__toys::before {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .products {
    width: 668px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 20px;
    line-height: 30px;
    position: relative;
    margin: 0 auto;
  }
  .products > svg {
    position: absolute;
    top: 50px;
    left: 10px;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .products-general {
    width: 167px;
    padding-right: 167px;
    padding-top: 28px;
    padding-left: 35px;
  }
  .products__things::before {
    top: 30px;
    right: 35px;
  }
  .products__toys::before {
    top: 33px;
    right: 34px;
  }
}
@media (min-width: 1150px) {
  .products {
    width: 1050px;
    padding-bottom: 20px;
  }
  .products::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 34px;
    bottom: 0;
    left: 8px;
    background-image: url("../img/bg-zigzag-fill.svg");
    -webkit-transform: scale(1.085, 1.085);
            transform: scale(1.085, 1.085);
    z-index: 10;
    display: none;
  }
  .products__things::before {
    top: 30px;
  }
  .products-general {
    width: 575px;
    padding-right: 350px;
    padding-left: 38px;
  }
}
.product-card {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 47px;
}
.product-card::before {
  content: "";
  display: block;
  width: 191%;
  height: 23px;
  background-image: url("../img/bg-zigzag-line.svg");
  position: absolute;
  bottom: -6px;
  right: -19.2%;
  -webkit-transform: scale(-0.275, -0.275);
          transform: scale(-0.275, -0.275);
  z-index: 5;
}
.product-card::after {
  content: "";
  display: block;
  width: 191%;
  height: 23px;
  background-image: url("../img/bg-zigzag-line.svg");
  position: absolute;
  bottom: -6px;
  left: -19.2%;
  -webkit-transform: scale(0.275, -0.275);
          transform: scale(0.275, -0.275);
  z-index: 5;
}
.product-card__wrapper {
  width: 260px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 27px;
}
.product-card__header {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
}
.product-card__mark {
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
}
.product-card__description {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 18px;
  padding-bottom: 15px;
  margin: 0;
}
.product-card__table {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 28px;
}
.product-card__table-row td {
  padding: 0;
  padding-top: 10px;
  padding-bottom: 8px;
}
.product-card__table-row td:nth-child(2) {
  width: 160px;
}
.product-card__image {
  margin-bottom: 21px;
}
.product-card__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-bottom: 27px;
}
.product-card__order {
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 13px 13px;
  text-align: center;
  outline: 2px solid #444444;
}
.product-card__order:hover {
  background-color: #444444;
  color: #ffffff;
}
.product-card__order:focus {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .product-card {
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
  .product-card__wrapper {
    position: relative;
    width: 668px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 34px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product-card::before {
    content: "";
    display: block;
    width: 78%;
    height: 23px;
    background-image: url("../img/bg-zigzag-line.svg");
    position: absolute;
    bottom: -4px;
    right: 37%;
    -webkit-transform: scale(-0.668, -0.668);
            transform: scale(-0.668, -0.668);
    z-index: 5;
  }
  .product-card::after {
    content: "";
    display: block;
    width: 78%;
    height: 23px;
    background-image: url("../img/bg-zigzag-line.svg");
    position: absolute;
    bottom: -4px;
    left: 37%;
    -webkit-transform: scale(0.668, -0.668);
            transform: scale(0.668, -0.668);
    z-index: 5;
  }
  .product-card__header {
    width: 440px;
    font-size: 43px;
    line-height: 50px;
  }
  .product-card__mark {
    text-align: center;
    width: 110px;
    line-height: 17px;
    padding: 11px 8px;
    margin-left: auto;
  }
  .product-card__description {
    width: 350px;
    padding-right: 334px;
    padding-top: 43px;
    padding-bottom: 33px;
    font-size: 17px;
    line-height: 30px;
  }
  .product-card__table {
    width: 291px;
    padding-right: 377px;
    margin-bottom: 57px;
  }
  .product-card__table-row td:nth-child(2) {
    width: 192px;
  }
  .product-card__image {
    position: absolute;
    left: 334px;
    top: 141px;
    width: 333px;
    height: auto;
    z-index: -1;
  }
  .product-card__price {
    font-size: 20px;
    line-height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    text-align: left;
    padding-left: 72px;
    padding-right: 72px;
    margin-bottom: 36px;
    margin-right: 300px;
  }
  .product-card__order {
    font-weight: bold;
    padding-top: 15px;
    padding-right: 100px;
    padding-bottom: 13px;
    padding-left: 100px;
  }
}
@media (min-width: 1150px) {
  .product-card__wrapper {
    padding-left: 175px;
    width: 875px;
    padding-top: 54px;
    padding-bottom: 50px;
  }
  .product-card__header {
    width: 540px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    font-size: 53px;
    line-height: 57px;
  }
  .product-card__mark {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    margin-left: -150px;
    margin-right: 26px;
    padding-left: 3px;
    padding-top: 15px;
  }
  .product-card__description {
    padding-bottom: 46px;
  }
  .product-card__table {
    margin-bottom: 112px;
  }
  .product-card__image {
    position: absolute;
    left: 525px;
    top: 0;
    width: 525px;
  }
  .product-card::before {
    content: "";
    display: block;
    width: 59%;
    height: 23px;
    background-image: url("../img/bg-zigzag-line.svg");
    position: absolute;
    bottom: 0;
    right: 47.2%;
    -webkit-transform: scale(-0.905, -0.905);
            transform: scale(-0.905, -0.905);
    z-index: 5;
  }
  .product-card::after {
    content: "";
    display: block;
    width: 59%;
    height: 23px;
    background-image: url("../img/bg-zigzag-line.svg");
    position: absolute;
    bottom: 0;
    left: 47.2%;
    -webkit-transform: scale(0.905, -0.905);
            transform: scale(0.905, -0.905);
    z-index: 5;
  }
}
.about {
  width: 100%;
  padding-bottom: 45px;
}
.about__wrapper {
  width: 260px;
  margin: 0 auto;
}
.about__header {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 4px;
}
@media (min-width: 768px) {
  .about {
    width: 100%;
  }
  .about__wrapper {
    width: 668px;
    padding: 0;
    margin: 0 auto;
    margin-top: 50px;
  }
  .about__header {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
    margin-bottom: 44px;
  }
}
@media (min-width: 1150px) {
  .about {
    width: 100%;
  }
  .about__wrapper {
    width: 700px;
    margin: 0 auto;
    padding-top: 61px;
  }
  .about__header {
    font-size: 53px;
    line-height: 57px;
  }
}
.advantages {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 1px;
}
.advantages__item {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  padding-top: 83px;
  position: relative;
}
.advantages__item--flower {
  position: relative;
}
.advantages__item--flower::before {
  content: "";
  width: 33px;
  height: 38px;
  background-image: url("../img/icon-feature-flower.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 27px;
  left: 7px;
}
.advantages__item--money {
  position: relative;
}
.advantages__item--money::before {
  content: "";
  width: 47px;
  height: 27px;
  background-image: url("../img/icon-feature-money.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 28px;
  left: 0;
}
.advantages__item--heart {
  position: relative;
}
.advantages__item--heart::before {
  content: "";
  width: 34px;
  height: 27px;
  background-image: url("../img/icon-feature-heart.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 33px;
  left: 7px;
}
.advantages__item--ball {
  position: relative;
}
.advantages__item--ball::before {
  content: "";
  width: 35px;
  height: 34px;
  background-image: url("../img/icon-feature-ball.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  left: 2px;
}
.advantages__item--rocket {
  position: relative;
}
.advantages__item--rocket::before {
  content: "";
  width: 55px;
  height: 23px;
  background-image: url("../img/icon-feature-rocket.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 31px;
  left: -6px;
}
.advantages__item--gift {
  position: relative;
}
.advantages__item--gift::before {
  content: "";
  width: 33px;
  height: 32px;
  background-image: url("../img/icon-feature-gift.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 29px;
  left: 2px;
}
@media (min-width: 768px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 500px;
  }
  .advantages__item {
    font-size: 20px;
    line-height: 22px;
    width: 334px;
    padding-top: 58px;
    padding-bottom: 53px;
  }
  .advantages__item--flower::before {
    top: 4px;
    left: 11px;
  }
  .advantages__item--money::before {
    top: 5px;
    left: 3px;
  }
  .advantages__item--heart::before {
    top: 10px;
    left: 10px;
  }
  .advantages__item--ball::before {
    top: 7px;
    left: 5px;
  }
  .advantages__item--rocket::before {
    top: 8px;
    left: -4px;
  }
  .advantages__item--gift::before {
    top: 6px;
    left: 5px;
  }
}
@media (min-width: 1150px) {
  .advantages {
    height: 600px;
  }
  .advantages__item {
    font-size: 20px;
    line-height: 22px;
    width: 350px;
    padding-top: 58px;
  }
  .advantages__item--flower::before {
    top: 4px;
    left: 8px;
  }
  .advantages__item--money::before {
    top: 5px;
    left: 0;
  }
  .advantages__item--heart::before {
    top: 10px;
    left: 7px;
  }
  .advantages__item--ball::before {
    top: 7px;
    left: 2px;
  }
  .advantages__item--rocket::before {
    top: 8px;
    left: -7px;
  }
  .advantages__item--gift::before {
    top: 6px;
    left: 2px;
  }
}
.footer {
  margin: 0 auto;
  background-color: #f1f1f1;
}
.footer-wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__logo {
  display: none;
}
.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 182px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 26px;
}
.footer__link:hover > svg {
  fill: #46c1ae;
}
.footer__link:focus {
  opacity: 0.3;
}
.footer__link > svg {
  fill: #63d1bb;
}
@media (min-width: 768px) {
  .footer {
    width: 100%;
  }
  .footer-wrapper {
    width: 668px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 22px;
  }
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 105px;
    margin-bottom: 21px;
  }
  .footer__logo[href]:hover > svg {
    fill: #63d1bb;
  }
  .footer__logo[href]:focus > svg {
    fill-opacity: 0.3;
  }
  .footer__link {
    padding-top: 20px;
  }
}
@media (min-width: 1150px) {
  .footer-wrapper {
    width: 1050px;
  }
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 141px;
  padding-top: 26px;
  padding-bottom: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__image:hover > svg {
  fill: #46c1ae;
}
.social__image:focus > svg {
  fill-opacity: 0.3;
}
@media (min-width: 768px) {
  .social {
    padding-top: 20px;
    padding-left: 71px;
  }
}
.main-catalog {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #e7e7e7;
}
.main-catalog__wrapper-head {
  width: 100%;
  background-color: #f1f1f1;
}
.main-catalog__header {
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  background-color: #f1f1f1;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 75px;
  margin: 0;
  margin-bottom: 3px;
}
@media (min-width: 768px) {
  .main-catalog {
    width: 100%;
  }
  .main-catalog__wrapper-head {
    margin-top: -69px;
    padding-top: 69px;
    border-top: 1px solid #ececec;
    position: relative;
  }
  .main-catalog__wrapper-head::before {
    content: "";
    display: block;
    width: 75%;
    height: 24px;
    background-image: url("../img/bg-zigzag-fill.svg");
    position: absolute;
    bottom: -4px;
    right: 37.5%;
    -webkit-transform: scale(-0.668, 0.668);
            transform: scale(-0.668, 0.668);
    z-index: 5;
  }
  .main-catalog__wrapper-head::after {
    content: "";
    display: block;
    width: 75%;
    height: 24px;
    background-image: url("../img/bg-zigzag-fill.svg");
    position: absolute;
    bottom: -4px;
    left: 37.5%;
    -webkit-transform: scale(0.668, 0.668);
            transform: scale(0.668, 0.668);
    z-index: 5;
  }
  .main-catalog__header {
    font-size: 43px;
    line-height: 50px;
    padding-top: 27px;
    padding-bottom: 83px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 51px;
    width: 668px;
  }
}
@media (min-width: 1150px) {
  .main-catalog {
    width: 100%;
  }
  .main-catalog__wrapper-head {
    height: 202px;
    margin-top: -73px;
    margin-bottom: 85px;
  }
  .main-catalog__wrapper-head::before {
    width: 50%;
    height: 34px;
    bottom: 0;
    right: 50%;
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1);
  }
  .main-catalog__wrapper-head::after {
    width: 50%;
    height: 34px;
    bottom: 0;
    left: 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .main-catalog__header {
    font-size: 53px;
    line-height: 57px;
    padding-top: 23px;
    padding-bottom: 86px;
    margin-bottom: 117px;
  }
}
.catalog {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 260px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .catalog {
    width: 668px;
  }
}
@media (min-width: 1150px) {
  .catalog {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1050px;
  }
}
.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 28px;
  margin-bottom: 2px;
  outline: 1px solid #ececec;
}
.item__image {
  height: 195px;
}
.item__header {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  margin-top: 28px;
}
.item__header:hover {
  opacity: 0.6;
}
.item__header:focus {
  opacity: 0.3;
}
.item__description {
  font-size: 13px;
  line-height: 30px;
  margin-top: 4px;
  margin-bottom: 19px;
}
.item__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  padding-top: 22px;
  padding-bottom: 27px;
  margin: 0;
  border-top: 1px solid #ececec;
  position: relative;
}
.item__cart {
  position: absolute;
  right: 0;
}
.item__cart:hover > svg {
  fill-opacity: 1;
  fill: #63d1bb;
}
.item__cart:focus > svg {
  fill-opacity: 0.3;
}
.item__cart > svg {
  fill-opacity: 0.2;
}
.item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 204px;
  padding: 0 28px;
}
@media (min-width: 768px) {
  .item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 32px;
    margin-top: 22px;
  }
  .item__image {
    width: 334px;
    height: 334px;
  }
  .item__image img {
    width: 334px;
    height: auto;
  }
  .item__wrapper {
    width: 306px;
    padding-left: 26px;
    padding-right: 0;
    height: 326px;
  }
  .item__header {
    font-size: 20px;
    margin-top: 27px;
  }
  .item__description {
    font-size: 15px;
  }
  .item__price {
    margin-top: auto;
    font-size: 17px;
    width: 270px;
    padding-top: 21px;
    padding-bottom: 19px;
    margin-left: 6px;
  }
}
@media (min-width: 1150px) {
  .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 316px;
  }
  .item:hover .item__wrapper {
    -webkit-box-shadow: 0 9px 6px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 9px 6px 3px rgba(0, 0, 0, 0.1);
  }
  .item__image {
    width: 316px;
    height: 462px;
  }
  .item__image:focus + .item__wrapper {
    -webkit-box-shadow: 0 9px 6px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 9px 6px 0 rgba(0, 0, 0, 0.1);
  }
  .item__wrapper {
    height: 195px;
    width: 257px;
    padding-right: 33px;
  }
  .item__header {
    font-size: 20px;
    line-height: 24px;
    margin-top: 25px;
  }
  .item__description {
    margin: 0;
    margin-top: 5px;
  }
  .item__price {
    margin-left: 0;
    width: 257px;
    padding-top: 23px;
    padding-bottom: 25px;
  }
  .item__image img {
    width: 316px;
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
